<!--
   - Interpolation:         {{ expression }}
   - Loops:                 @if, @for 
   - Property binding:      [property]="expression"
   - Event binding:         (event)="handler()"
-->

<section class="task-list">
    {{title}}

    <ul>
        @for (task of tasks(); track task.id) {
            <!-- <li class="task-item">
                <strong>{{task.title}}</strong>
                @if (task.isDone) {
                    <span class="badge done">Zrobione</span>
                }
                @else {
                    <span class="badge pending">W toku</span>
                }
                <p>{{task.description}}</p>
            </li> -->
            
            <app-task-item [task]="task"></app-task-item>
        }
        <!-- @empty {
            <h1>Brak zadań do wyświetlenia</h1>
        } -->
    </ul>

    @if(tasks().length === 0){
        <p>Brak zadań do wyświetlenia</p>
    }
</section>