<!--
   - Interpolation:         {{ expression }}
   - Loops:                 @if, @for 
   - Property binding:      [property]="expression"
   - Event binding:         (event)="handler()"
-->

<section class="task-list">
    <h1>{{title}}</h1>

    <p class="stats">
        Ukończono: <strong>{{doneCount()}}</strong> z {{totalCount()}}
    </p>

    <ul>
        @for (task of tasks(); track task.id) {
        <!-- <li class="task-item">
                <strong>{{task.title}}</strong>
                @if (task.isDone) {
                    <span class="badge done">Zrobione</span>
                }
                @else {
                    <span class="badge pending">W toku</span>
                }
                <p>{{task.description}}</p>
            </li> -->

        <!-- 
            (toggle)="onToggle(task.id)" - event binding na output dziecka
            Gdy TaskItemComponent wywoła toogle.emit(), wywoła się metoda z komponentu 
        -->
        <app-task-item [task]="task" (toogle)="onToggle(task.id)"></app-task-item>
        }
        <!-- @empty {
            <h1>Brak zadań do wyświetlenia</h1>
        } -->
    </ul>

    @if(tasks().length === 0){
    <p>Brak zadań do wyświetlenia</p>
    }
</section>